.footer-head {
	height: 40px;
	background-color: #6d9eeb;
}
.main {
	height: calc(100vh - 40px);
}
.col-3{
	background-color: #0b5394;
}
.main-content{
	height: calc(100vh - 80px);
	background-color: #cfe2f3;
}