.col {
	width: 200px;
	height: 200px;
}
.one {
	background-color:#801B14;      
}
.two {
	background-color: #F2E4A4;
}
.three {
	background-color: #A19D77;
}
.four {
	background-color: #2A2B24;
}
.five {
	background-color: #E0493F;
}